@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode-VariableFont.woff2") format("woff2-variations");
  font-weight: 400 900;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-VariableFont.woff2") format("woff2-variations");
  font-weight: 400 900;
}

@import "tailwindcss";

@theme {
  --color-primary: #a6a6a6;
  --color-secondary: #3d3d3d;
  --color-background: #121212;
  --color-font: #f5f5f5;

  --font-primary: "OpenSans", sans-serif;
  --font-secondary: "FiraCode", sans-serif;
}

html {
  @apply overflow-x-hidden scroll-smooth;
}
body {
  @apply bg-background text-font overflow-clip pb-6;
}

.section {
  @apply scroll-m-6 scroll-p-6 lg:scroll-m-12 lg:scroll-p-12;
}

.container {
  @apply max-w-[105rem] px-6 md:px-8 xl:px-40 mx-auto;
}

.circle {
  @apply before:content-[''] before:block before:border-[0.5px] before:rounded-full  before:right-0 before:top-0 before:absolute before:opacity-30 before:pointer-events-none before:-z-[1];
}

.section-title {
  @apply before:content-['...'] after:content-['...'] flex gap-1 font-secondary font-[500] text-xs;
}

.section-title-secondary {
  @apply relative font-secondary text-5xl w-full text-right py-2  font-[600] before:bg-font/10 before:content-[''] before:w-[200vw] before:h-0.5 before:block before:top-[100%] before:absolute before:-left-[50vw];
}
