@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode-VariableFont.woff2") format("woff2-variations");
  font-weight: 400 900;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-VariableFont.woff2") format("woff2-variations");
  font-weight: 400 900;
}

@import "tailwindcss";

@theme {
  --color-primary: #a6a6a6;
  --color-secondary: #3d3d3d;
  --color-background: #121212;
  --color-font: #f5f5f5;

  --font-primary: "OpenSans", sans-serif;
  --font-secondary: "FiraCode", sans-serif;
}

body {
  @apply bg-background text-font;
}

.container {
  @apply max-w-[105rem] px-6 md:px-8 xl:px-40 mx-auto;
}
